.container{
  margin: 30px 10%;
  @media (max-width: 768px) { 
    margin: 30px 2%; 
  }
}
.table-container{
  margin-top: 24px;
}
.p-inputgroup {
  position: relative; 
}
.group{
  width: 30%;
  @media (max-width: 768px) { 
    width: 100%;
    margin-top: 20px;
  }
}


.restore-button {
  position: absolute; 
  top: 50%; 
  right: 10px; 
  transform: translateY(-50%); 
}